body{
    margin: 0px;
    background-color: gray;
}

.register{
   
    text-align: center;
    
}
.border{
    width: 85%;
    height: 500px;
    
    margin: auto;
}
.labels{
    text-align: center;
    width: 30%;
    float: left;
    font-size: 16pt;
}
.inputs{
    
    width: 70%;
    float: right;
    text-align: center;
}
.tager{
    margin-top: 15px;
}